@model RANUISWANSONFOOTBALLCLUB_WEBSITE.Models.Players

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Players</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player_Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player_Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player_Phone_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player_Phone_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player_Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Player_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
